h1 {
    color: red;
    margin-top: 70px;
}

h2 {
    margin-top: 50px;
}

.bookcover {
    height: 300px;
    width: auto;
    margin-top: 15px;
}

.container {
    margin-top: 70px;
}

.navbar navbar-expand-md navbar-dark fixed-top bg-dark {
    margin-bottom: 35px;
}