h1 {
    color: red;
}

.bookcover {
    height: 300px;
    width: auto;
    margin-top: 150px;
}

container {
    margin-top: 150px;
}

.navbar navbar-expand-md navbar-dark fixed-top bg-dark {
    margin-bottom: 50px;
}